---
title: 記事
---

<article class="article-show">
  <header class="main-header main-header--split">
    <span>
      <button type="button" class="main-header__button"><a href="/user/index.html">←</a></button>
      <button type="button" class="main-header__button"><span>段落</span></button>
      <button type="button" class="main-header__button"><span>リンク</span></button>
      <button type="button" class="main-header__button"><span>埋め込み</span></button>
      <button type="button" class="main-header__button"><span>取消線</span></button>
    </span>
    <span>
      <button type="button" class="main-header__button"><span>コメント</span></button>
      <button type="button" class="main-header__button"><span>閲覧</span></button>
      <button type="button" class="main-header__button"><span>保存</span></button>
      <button type="button" class="main-header__button"><span>その他</span></button>
    </span>
  </header>
  <section class="article-main">
    <article class="article-sheet">
      <p class="article-sheet__info">
        <span class="article-sheet__status">下書き</span>
        <span class="article-sheet__date"><%= lorem.date "%m月%d日" %></span>
      </p>
      <h1 class="article-sheet__title"><%= lorem.sentence %></h1>
      <p class="article-sheet__name"><%= lorem.name %></p>
      <% 4.times.each do %>
        <h2><%= lorem.sentence %></h2>
        <p><%= lorem.paragraphs 2 %></p>
      <% end %>
    </article>
  </section>
</article>
